.containerContactMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.containerContactMain h4 {
    font-size: 1.8rem;
    color: var(--text);
}

.containerContactMain section {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: var(--formBackground);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    gap: 1rem;
}

.container-contactText {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.container-contactText p {
    width: fit-content;
}

.container-cellContact,
.container-locationContact {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.05rem;
}


.container-locationContact img,
.container-cellContact img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.container-cellContact a {
    display: block;
    text-decoration: none;
    color: var(--text);
}

.container-cellContact a:hover {
    color: var(--accent);
}

@media screen and (max-width:990px) {
    .containerContactMain section {
        width: 80%;
    }
}

@media screen and (max-width:630px) {

    .container-cellContact,
    .container-locationContact {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 16px;
    }

    .container-cellContact p,
    .container-locationContact p {
        margin: 2px;
    }
}

@media (prefers-color-scheme: dark) {
    .containerContactMain section {
        border: 2px solid transparent;
        border-radius: 30px 60px 50px 36px;
        background-image: var(--borderGradientContact);
        background-clip: padding-box; 
        padding: 1px;
    }
    .containerBSA , .containerCordoba , .containerMdP {
        background-color: rgb(32, 30, 31);
        z-index: 1;
        padding: 20px;
        border-radius: 30px 60px 50px 36px;
    }
    .container-cellContact a:hover {
        color: var(--primary);
        transform: scale(1.1);
    }
    .container-contactText p {
        color: rgb(165, 165, 165) !important;
    }
    
}
