.navbar {
  background-color: rgba(0, 0, 0, 0.086);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}
.container-logoNails img {
  width: 34px;
}
.container-logoNails {
  padding-left: 20px;
}
.navbar-list {
  list-style: none;
  padding: 16px;
  margin: 8px;
  display: flex;
  justify-content:space-between
}

.navbar-item {
  margin: 4px 45px;
  gap: auto;
}

.navbar-link {
  text-decoration: none;
  color: var(--text);
  font-weight: bolder;
  font-size: 1.5rem;

}

/* Media query para pantallas más pequeñas (tablets) */
@media screen and (max-width: 768px) {
  .navbar-link {
    font-size: 1.2rem;
  }
}


.navbar-link:hover {
  color: #555;
}
.container-logoMarket {
  padding: 0px 20px;
}
.container-logoMarket img {
  height: 50px; 
}
.container-logoMarket img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
@media screen and (max-width: 970px) {
  .navbar-item {
    margin: 4px 25px;
    gap: auto;
  }
  .container-logoMarket img {
    height: 35px; 
  }
  .container-logoNails img {
    width: 28px;
  }
}
@media screen and (max-width: 700px) {
  .navbar-item {
    margin: 4px 15px;
    gap: auto;
  }
}