.section2{
    overflow: hidden; 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el contenedor en dos columnas, una para la información y otra para el carrusel */
    gap: 20px; /* Espacio entre las dos columnas */
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.informacion{
    grid-column: 1;
    text-align: start;
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloqueInfo{
    margin-top:10%;
    margin-left:15%;
    margin-bottom: 55px;
}

.informacion p{
    margin-top:15px;
    margin-left:1%;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(85, 85, 85);
}
.informacion .botones {
    margin-top:35px;
}

.informacion h1{
    font-family: Poppins,"Noto Sans", ui-sans-serif;
    margin-bottom: 1px; /* Espacio entre cada elemento */
    font-size: 54px;
    letter-spacing: -1px;
}
.botones {
    margin-right: auto;
    height: 110px;
    width: 100%;
    
}
.botones a {
    margin-right: 30px;
    margin-top: 25px; /* Ajusta el espacio entre los dos enlaces según sea necesario */
}




.carrusel-container {
    display: grid;
    grid-template-rows: 100%; /* Divide el contenedor en dos columnas, una para la información y otra para el carrusel */
    margin-top: 0;
    
}


.carrusel {
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    position: relative;
}

.columnaUno, .columnados {
    display: flex;
    position: absolute;
    top: 50%;
    z-index: 3;
    background: none;
    border: none;
    transform: translateY(-50%); /* Alinea verticalmente al 50% */
}

.columnaUno {
    left: 20%; /* Ajusta la posición de la flecha izquierda */
    font-size: 30px;
}

.columnados {
    right: 20%; /* Ajusta la posición de la flecha derecha */
    font-size: 30px;
}

.icon {
    background-color: rgba(0, 0, 0, 0.344);
    padding: 0px;
    border-radius: 50%;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.636);
    color: #e5e5e5;
}

.foto {
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
    display: block; /* Quita el espacio adicional del inline-block */
    height: 450px;
    width: 450px;
    border-radius: 2%;
    z-index: 1;
    position: relative;
}

.indicadores {
    position: absolute; /* Añadido: establece posición absoluta para los indicadores */
    bottom: 10px; /* Ajusta la posición vertical de los indicadores */
    left: 50%; /* Centra los indicadores horizontalmente */
    transform: translateX(-50%); 
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; /* Centra los indicadores horizontalmente */
    align-items: flex-end; /* Coloca los indicadores en la parte inferior verticalmente */
    margin-top: 10px;
    z-index: 2;
}

.indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(185, 185, 185);
}

.indicador.activo {
    background-color: rgb(9, 9, 9);
}


/* Estilos específicos para escritorio */
@media only screen and (min-width: 1024px) {
    .bloqueInfo {
        margin-top: 10%;
        margin-left: 15%;
        margin-bottom: 55px;
    }

    .informacion p {
        margin-top: 15px;
        margin-left: 1%;
        font-size: 20px;
        letter-spacing: 1px;
        color: rgb(85, 85, 85);
    }

    .informacion .botones {
        margin-top: 35px;
    }

    .informacion h1 {
        font-family: Poppins, "Noto Sans", ui-sans-serif;
        margin-bottom: 1px;
        font-size: 54px;
        letter-spacing: -1px;
    }

    .botones {
        margin-right: auto;
        height: 110px;
        width: 100%;
    }

    .botones a {
        margin-right: 30px;
        margin-top: 25px;
    }

    .carrusel-container {
        margin-top: 0;
    }

    .carrusel {
        grid-row: 1;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        position: relative;
    }

    .columnaUno {
        left: 20%;
        font-size: 30px;
    }

    .columnados {
        right: 20%;
        font-size: 30px;
    }

    .icon {
        background-color: rgba(0, 0, 0, 0.344);
        padding: 0px;
        border-radius: 50%;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.636);
        color: #e5e5e5;
    }
}

/* Estilos para tablet */
@media only screen and (max-width: 1023px) {
    .section2 {
        grid-template-columns: 1fr; /* Cambia a una sola columna en tablet */
        grid-template-rows: 1fr 1fr;
        margin-bottom: 20px;
    }

    .bloqueInfo {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .informacion{
        margin-bottom: 25px;
    }

    .informacion h1 {
        font-size: 45px;
        text-align: center; /* Alinea el texto al centro horizontalmente */
        margin-right: 30px;
        align-items: center;
    }

    .informacion p {
        font-size: 24px;
        text-align: center; /* Alinea el texto al centro horizontalmente */
        margin-right: 30px;
        align-items: center;
        
        margin-top: 25px;
    }

    .botones {
        margin-top: 0;
        display: flex;
        flex-direction: column; /* Muestra los elementos uno debajo del otro */
        align-items: center; /* Alinea los elementos en el centro horizontal */
    }
    
    
    .foto {
        height: 468px;
        width: 468px;
    }
}

/* Estilos para celular */
@media only screen and (max-width: 767px) {
.section2{
   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

    .carrusel-container {
        grid-row: 2; /* Mueve el carrusel debajo del contenido para celular */
        
    }

    

    .informacion h1{
        
        text-align: center; /* Alinea el texto al centro horizontalmente */
        margin-right: 20px;
        align-items: center;
    }
    .informacion p {
       
        text-align: center; /* Alinea el texto al centro horizontalmente */
        margin-right: 20px;
        align-items: center;
        font-size: 25px;
        margin-top: 25px;
    }
    
    .carrusel {
        
        width: 100%; /* Ocupa el ancho completo en celular */
    }
    
    .botones {
        margin-top: 0;
        display: flex;
        flex-direction: column; /* Muestra los elementos uno debajo del otro */
        align-items: center; /* Alinea los elementos en el centro horizontal */
    }
    
    
    .columnaUno,
    .columnados {
        
        font-size: 24px; /* Reduce el tamaño de los botones en celular */
    }

    .columnaUno {
        left: 2%; /* Ajusta la posición de la flecha izquierda */
        
    }
    
    .columnados {
        right: 2%; /* Ajusta la posición de la flecha derecha */
        
    }
    
    .foto {
        margin-top: 0px;
        height: 400px;
        width: 100%;
    }
    
}